.other-msg {
  padding: 10px;
  background-color: #dddddd;
  width: 400px;
  align-self: center;
}

.self-msg {
  padding: 10px;
  background-color: #dddddd;
  text-align: right;
  width: 400px;
  margin-left: 105px;
}

.self-msg-username {
  text-align: right;
}

#chat-card {
  height: 700px;
}

.mensajes-box {
  height: 500px;
  overflow-y: scroll;
}

.input-form {
  margin-left: 220px;
}
