@import "~antd/dist/antd.css";

.App {
  background-color: #dfdfdf;
}

.body {
  color: gainsboro;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
    100px
    50px
    1fr
    100px
    200px;
}

.map-container {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  padding: 15px;
}

.chat-container {
  grid-column: 4 / 5;
  grid-row: 1 / 4;
  padding: 15px;
}
